@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */

@layer components {
    .btn-primary {
      @apply py-2 px-5 bg-blue-500 text-white font-semibold rounded-sm shadow-md hover:bg-blue-700;
    }
    .btn-alert {
        @apply py-2 px-5 bg-red-500 text-white font-semibold rounded-sm shadow-md hover:bg-red-700;
    }

    .btn-default {
      @apply  py-2 px-5 bg-white text-gray-700 font-semibold border-solid border border-gray-500 rounded-sm shadow-md hover:bg-gray-100;
    }

    .input {
      @apply bg-white text-gray-800 p-2 m-2 border-solid border border-gray-700 rounded-sm;
    }

    .BLOCKED {
      @apply bg-gray-200 text-gray-200;
    }

    .R {
      @apply bg-red-500;
    }

    .Y {
      @apply bg-yellow-400;
    }

    .G {
      @apply bg-lime-500;
    }

    .B {
      @apply bg-sky-500;
    }

    .R.SELECTED {
      @apply bg-red-200;
    }

    .Y.SELECTED {
      @apply bg-yellow-200;
    }

    .G.SELECTED {
      @apply bg-lime-200;
    }

    .B.SELECTED {
      @apply bg-sky-200;
    }

    .NONE.POSSIBLE_MOVE {
      @apply bg-violet-600;
    }
  }

pre {
    margin:1.2em;
    padding: 1.2em;
    background: azure;
    border-radius: 4px;
}
