# Database
HALMA_DB_USERNAME=halma
HALMA_DB_PASSWORD=mySecretPassword
HALMA_DB=halma
HALMA_DB_HOST=localhost
HALMA_DB_PORT=5432

POSTGRES_USER=${HALMA_DB_USERNAME}
POSTGRES_PASSWORD=${HALMA_DB_PASSWORD}
POSTGRES_DB=${HALMA_DB}

HALMA_DB_URL=jdbc:postgresql://${HALMA_DB_HOST}:${HALMA_DB_PORT}/${HALMA_DB}